body {
  background-color: #fff;
  text-align: center;
  font-family: "Sacramento", cursive;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("rings.jpg");
}
.top-container {
  height: 400px;
  width: 100%;
  margin-top: 0;
}
h1 {
  color: aqua;
  font-size: 900%;
  font-style: italic;
}
.image {
  text-align: center;
}
.gif {
  margin: auto;
  width: 100%;
}
