body {
  background-color: #fff;
  text-align: center;
  font-family: "Sacramento", cursive;
  padding: 5%;
  margin: 0;
  background-color: #FDD20EFF;
 
}

.top-container {
  height: 400px;
  width: 100%;
  margin-top: 0;
}

h1 {
  color: #ff9a10;
  font-size: 900%;
  font-style: italic;
  margin-top: 0;
  margin-top: 50px;
}

.image {
  text-align: center;
}

.gif {
  margin: auto;
  width: 100%;
  border-radius: 20%;
  margin: 60px auto auto;
}
